---
layout: page.njk
title: DMCA | OnlinePDFPro
description: OnlinePDFPro DMCA policy for copyright infringement claims.
---
<h1>DMCA Policy</h1>
<p>OnlinePDFPro respects intellectual property rights. If you believe content on our site infringes your copyright, please contact us at support@onlinepdfpro.com with the following information:</p>
<ul>
<li>Description of the copyrighted work</li>
<li>URL of the infringing material</li>
<li>Your contact information</li>
<li>A statement of good faith belief</li>
</ul>
