---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set staticPages = [
  { url: '/', priority: '1.0', changefreq: 'weekly' },
  { url: '/about', priority: '0.6', changefreq: 'yearly' },
  { url: '/tools', priority: '0.9', changefreq: 'weekly' },
  { url: '/support', priority: '0.6', changefreq: 'yearly' },
  { url: '/dmca', priority: '0.5', changefreq: 'yearly' },
  { url: '/privacy', priority: '0.5', changefreq: 'yearly' },
  { url: '/terms', priority: '0.5', changefreq: 'yearly' },
  { url: '/refund', priority: '0.5', changefreq: 'yearly' },
  { url: '/study-materials', priority: '0.9', changefreq: 'weekly' },
  { url: '/blog', priority: '0.7', changefreq: 'weekly' }
] -%}
{%- for page in staticPages %}
  <url>
    <loc>https://onlinepdfpro.com{{ page.url }}</loc>
    <changefreq>{{ page.changefreq }}</changefreq>
    <priority>{{ page.priority }}</priority>
  </url>
{%- endfor %}
{%- for tool in toolRegistry.tools %}
  <url>
    <loc>https://onlinepdfpro.com{{ tool.href }}</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{%- endfor %}
{%- for post in blogPosts %}
  <url>
    <loc>https://onlinepdfpro.com{{ post.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
{%- endfor %}
</urlset>
