---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set staticPages = [
  { url: '/', priority: '1.0', changefreq: 'weekly' },
  { url: '/about.html', priority: '0.6', changefreq: 'yearly' },
  { url: '/tools.html', priority: '0.9', changefreq: 'weekly' },
  { url: '/support.html', priority: '0.6', changefreq: 'yearly' },
  { url: '/dmca.html', priority: '0.5', changefreq: 'yearly' },
  { url: '/privacy.html', priority: '0.5', changefreq: 'yearly' },
  { url: '/terms.html', priority: '0.5', changefreq: 'yearly' },
  { url: '/refund.html', priority: '0.5', changefreq: 'yearly' },
  { url: '/study-materials.html', priority: '0.9', changefreq: 'weekly' }
] -%}
{%- for page in staticPages %}
  <url>
    <loc>https://onlinepdfpro.com{{ page.url }}</loc>
    <changefreq>{{ page.changefreq }}</changefreq>
    <priority>{{ page.priority }}</priority>
  </url>
{%- endfor %}
{%- for tool in toolRegistry.tools %}
  <url>
    <loc>https://onlinepdfpro.com{{ tool.href }}</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
{%- endfor %}
</urlset>
